#

#Starting!!

Day 1&2

In [6]:
a=10
b='20'

In [7]:
type(a)

int

In [8]:
type(b)

str

In [9]:
age=31
print("My age is",age)

My age is 31

In [10]:
print(f"My age is {age}")

My age is 31

In [11]:
name="Sulu"
age=31
print("My name is {} and age is {}".format(name,age))

My name is Sulu and age is 31

In [12]:
name="Sulu"
age=31
degree="PG in DSBA"
print(f"My age is {age} and I have completed: my degree of {degree} with the name of {name}")

My age is 31 and I have completed: my degree of PG in DSBA with the name of Sulu

In [13]:
print("My age is {} and I have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 31 and I have completed: my degree of PG in DSBA with the name of Sulu

In [14]:
input("Age")

Age 25

'25'

In [15]:
Age = int(input("Age"))

Age 25

In [16]:
Age = int(input("Enter Age"))
if Age >= 18 and age <=32:
    print("You are young blood")

Enter Age 36

You are young blood

In [17]:
Age = int(input("Enter Age"))
if Age >= 18 and age <=32:
    print("You are young blood")
else : 
    print ("Not eligible")

Enter Age 14

Not eligible

In [18]:
abc = int(input("Enter bill amount"))
if abc > 1000 :
          print("You get 20% off and the total bill is",abc-(abc*0.2))
else:
    print("30% off and the total bill is",abc-(abc*0.3))

Enter bill amount 2000

You get 20% off and the total bill is 1600.0

In [19]:
abc = int(input("Enter bill amount"))
if abc > 3000 :
          print("20% off and the total bill is",abc-(abc*0.2))
elif abc >= 2000 and abc <= 3000 :
    if abc==2999 :
        print("You won jackpot")
    print("30% off and the total bill is",abc-(abc*0.3))
else:
    print("40% off and the total bill is",abc-(abc*0.4))

Enter bill amount 2900

30% off and the total bill is 2030.0

In [37]:
import os
os. getcwd()

'C:\\Users\\bfood'